openapi: 3.0.0
info:
  version: testing
  title: NERC Arctic Office Projects API
  description: API for the NERC Arctic Office projects database
  license:
    name: Open Government Licence 3.0
    url: http://www.nationalarchives.gov.uk/doc/open-government-licence
  contact:
    name: API Support
    email: servicedesk@bas.ac.uk
servers:
  - url: https://api.bas.ac.uk/arctic-office-projects/testing
    description: For normal use
  - url: https://testing.api.bas.ac.uk/arctic-office-projects/testing
    description: When asked to test changes to how APIs are delivered
components:
  securitySchemes:
    azure-oauth:
      type: oauth2
      description: This API uses OAuth 2 with the client credentials grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/d14c529b-5558-4a80-93b6-7655681e55d6/oauth2/v2.0/token
          scopes: {}
tags:
  - name: projects
    description: Projects
  - name: participants
    description: Participants
  - name: people
    description: People
  - name: grants
    description: Grants
  - name: allocations
    description: Allocations
  - name: organisations
    description: Organisations
  - name: standalone
    description: Standalone methods
paths:
  /projects:
    summary: Projects list
    description: List of all Project resources
    get:
      tags:
        - projects
      summary: Returns details for all Project resources
      operationId: get-projects-list
      security:
        - azure-oauth: []
      parameters:
        -
          name: page
          in: query
          description: Selected pagination page
          required: false
          schema:
            type: integer
          example:
            value: 2
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Project
                      description: Represents information about a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - projects
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - title
                            - project-duration
                            - access-duration
                          properties:
                            acronym:
                              readOnly: true
                              type: string
                              title: Acronym
                              description: Project acronym
                            title:
                              readOnly: true
                              type: string
                              title: Title
                              description: Project title
                            abstract:
                              readOnly: true
                              type: string
                              title: Abstract
                              description: Project abstract
                            country:
                              type: object
                              title: Country
                              description: Country in which the project took place
                              required:
                                - iso-3166-alpha3-code
                                - name
                              properties:
                                iso-3166-alpha3-code:
                                  readOnly: true
                                  type: string
                                  title: ISO 3166 Alpha 3 code
                                  description: ISO 3166 three letter alphabetic country code
                                name:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Name
                                  description: country name
                            project-duration:
                              type: object
                              title: Project duration
                              description: Period of time a project was active or funded for
                              required:
                                - interval
                                - start-instant
                                - end-instant
                              properties:
                                interval:
                                  readOnly: true
                                  type: string
                                  title: Project duration interval
                                  description: Date interval covering the project duration
                                start-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Project duration start instant
                                  description: date marking the start of the project duration
                                end-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Project duration end instant
                                  description: date marking the end of the project duration
                            access-duration:
                              type: object
                              title: Access duration
                              description: Period of time information about a project is available for
                              required:
                                - interval
                                - start-instant
                                - end-instant
                              properties:
                                interval:
                                  readOnly: true
                                  type: string
                                  title: Project access interval
                                  description: Date interval covering the access duration
                                start-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Access duration start instant
                                  description: date marking the start of the access duration
                                end-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Access duration end instant
                                  description: date marking the end of the access duration
                            website:
                              readOnly: true
                              type: string
                              format: uri
                              title: Website
                              description: Project website
                            publications:
                              type: array
                              title: Publications
                              description: Project publications
                              items:
                                readOnly: true
                                type: string
                                format: uri
                                title: Publication
                                description: DOI to a project publication
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          properties:
                            allocations:
                              type: object
                              title: Allocations
                              description: Related allocations
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: array
                                  title: Allocation resource linkages
                                  description: Related allocation resource identifers
                                  items:
                                    type: object
                                    title: Allocation resource linkage
                                    description: Related allocation resource identifier
                                    required:
                                      - type
                                      - id
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        title: Type
                                        description: Type of resource
                                        enum:
                                          - allocation
                                      id:
                                        readOnly: true
                                        type: string
                                        title: ID
                                        description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resources
                            participants:
                              type: object
                              title: Participants
                              description: Related participants
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: array
                                  title: Participant resource linkages
                                  description: Related participant resource identifers
                                  items:
                                    type: object
                                    title: Participant resource linkage
                                    description: Related participant resource identifier
                                    required:
                                      - type
                                      - id
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        title: Type
                                        description: Type of resource
                                        enum:
                                          - participants
                                      id:
                                        readOnly: true
                                        type: string
                                        title: ID
                                        description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resources
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01D5M0CFQV4M7JASW7F87SRDYB
                        type: projects
                        attributes:
                          acronym: ACCACIA
                          title: Aerosol-Cloud Coupling And Climate Interactions in the Arctic
                          abstract: The Arctic climate is changing twice as fast as the global average and these dramatic changes are evident in the decreases in sea ice extent over the last few decades. The lowest sea ice cover to date was recorded in 2007 and recent data suggests sea ice cover this year may be even lower. Clouds play a major role in the Arctic climate and therefore influence the extent of sea ice, but our understanding of these clouds is very poor. Low level, visually thick, clouds in much of the world tend to have a cooling effect, because they reflect sunlight back into space that would otherwise be absorbed at the surface. However, in the Arctic this albedo effect is not as important because the surface, often being covered in snow and ice, is already highly reflective and Arctic clouds therefore tend to warm instead of cooling. Warming in the Arctic can, in turn, lead to sea ice break-up which exposes dark underlying sea water. The sea water absorbs more of the sun's energy, thus amplifying the original warming. Hence, small changes in cloud properties or coverage can lead to dramatic changes in the Arctic climate; this is where the proposed research project comes in.
                          country:
                            iso-3166-alpha3: SJM
                            name: Svalbard and Jan Mayen
                          project_duration:
                            interval: 2013-03-01/2016-10-01
                            start_interval: 2013-03-01
                            end_interval: 2016-10-01
                          access_duration:
                            interval: 2013-03-01/..
                            start_interval: 2013-03-01
                            end_interval: null
                          website: http://arp.arctic.ac.uk/projects/aerosol-cloud-coupling-and-climate-interactions-ar/
                          publications:
                            - https://doi.org/10.5194/acp-2018-283
                            - https://doi.org/10.5194/acp-15-3719-2015
                            - https://doi.org/10.5194/acp-15-5599-2015
                            - https://doi.org/10.5194/acp-16-4063-2016
                        relationships:
                          allocations:
                              data:
                                -
                                  id: 01D6T4QQNDBJTSEVXESNXD3AN0
                                  type: allocations
                              links:
                                self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/allocations
                                related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/allocations
                          participants:
                            data:
                              -
                                id: 01D5T4N25RV2062NVVQKZ9NBYX
                                type: participants
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/participants
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/participants
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB
                  included:
                    type: array
                    title: Included
                    description: Resources related to resource
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - first
                      - last
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Current page
                        description: URL to current page of resources
                      first:
                        readOnly: true
                        type: string
                        format: uri
                        title: First page
                        description: URL to first page of resources
                      last:
                        readOnly: true
                        type: string
                        format: uri
                        title: Last page
                        description: URL to last page of resources
                      prev:
                        readOnly: true
                        type: string
                        format: uri
                        title: Previous page
                        description: URL to previous page of resources (if applicable)
                      next:
                        readOnly: true
                        type: string
                        format: uri
                        title: Next page
                        description: URL to next page of resources (if applicable)
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=2
                      first: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=1
                      last: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=4
                      prev: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=1
                      next: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=3
  '/projects/{id}':
    summary: Project details
    description: Details for a specific Project resource
    get:
      tags:
        - projects
      summary: Returns details for a single Project resource, specified by its ID
      operationId: get-projects-detail
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01D5M0CFQV4M7JASW7F87SRDYB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Project
                    description: Represents information about a research project
                    required:
                      - id
                      - type
                      - attributes
                      - relationships
                      - links
                    properties:
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - projects
                      attributes:
                        type: object
                        title: Attributes
                        description: Additional attributes for this resource type
                        required:
                          - title
                          - project-duration
                          - access-duration
                        properties:
                          acronym:
                            readOnly: true
                            type: string
                            title: Acronym
                            description: Project acronym
                          title:
                            readOnly: true
                            type: string
                            title: Title
                            description: Project title
                          abstract:
                            readOnly: true
                            type: string
                            title: Abstract
                            description: Project abstract
                          country:
                            type: object
                            title: Country
                            description: Country in which the project took place
                            required:
                              - iso-3166-alpha3-code
                              - name
                            properties:
                              iso-3166-alpha3-code:
                                readOnly: true
                                type: string
                                title: ISO 3166 Alpha 3 code
                                description: ISO 3166 three letter alphabetic country code
                              name:
                                readOnly: true
                                type: string
                                format: date
                                title: Name
                                description: country name
                          project-duration:
                            type: object
                            title: Project duration
                            description: Period of time a project was active or funded for
                            required:
                              - interval
                              - start-instant
                              - end-instant
                            properties:
                              interval:
                                readOnly: true
                                type: string
                                title: Project duration interval
                                description: Date interval covering the project duration
                              start-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Project duration start instant
                                description: date marking the start of the project duration
                              end-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Project duration end instant
                                description: date marking the end of the project duration
                          access-duration:
                            type: object
                            title: Access duration
                            description: Period of time information about a project is available for
                            required:
                              - interval
                              - start-instant
                              - end-instant
                            properties:
                              interval:
                                readOnly: true
                                type: string
                                title: Project access interval
                                description: Date interval covering the access duration
                              start-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Access duration start instant
                                description: date marking the start of the access duration
                              end-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Access duration end instant
                                description: date marking the end of the access duration
                          website:
                            readOnly: true
                            type: string
                            format: uri
                            title: Website
                            description: Project website
                          publications:
                            type: array
                            title: Publications
                            description: Project publications
                            items:
                              readOnly: true
                              type: string
                              format: uri
                              title: Publication
                              description: DOI to a project publication
                      relationships:
                        type: object
                        title: Relationships
                        description: Related resources
                        properties:
                          allocations:
                            type: object
                            title: Allocations
                            description: Related allocations
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: array
                                title: Allocation resource linkages
                                description: Related allocation resource identifers
                                items:
                                  type: object
                                  title: Allocation resource linkage
                                  description: Related allocation resource identifier
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - allocation
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resources
                          participants:
                            type: object
                            title: Participants
                            description: Related participants
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: array
                                title: Participant resource linkages
                                description: Related participant resource identifers
                                items:
                                  type: object
                                  title: Participant resource linkage
                                  description: Related participant resource identifier
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - participants
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resources
                      links:
                        type: object
                        title: Links
                        description: Links to additional information or actions
                        required:
                          - self
                        properties:
                          self:
                            readOnly: true
                            type: string
                            format: uri
                            title: Self
                            description: URL to full resource
                    example:
                      id: 01D5M0CFQV4M7JASW7F87SRDYB
                      type: projects
                      attributes:
                        acronym: ACCACIA
                        title: Aerosol-Cloud Coupling And Climate Interactions in the Arctic
                        abstract: The Arctic climate is changing twice as fast as the global average and these dramatic changes are evident in the decreases in sea ice extent over the last few decades. The lowest sea ice cover to date was recorded in 2007 and recent data suggests sea ice cover this year may be even lower. Clouds play a major role in the Arctic climate and therefore influence the extent of sea ice, but our understanding of these clouds is very poor. Low level, visually thick, clouds in much of the world tend to have a cooling effect, because they reflect sunlight back into space that would otherwise be absorbed at the surface. However, in the Arctic this albedo effect is not as important because the surface, often being covered in snow and ice, is already highly reflective and Arctic clouds therefore tend to warm instead of cooling. Warming in the Arctic can, in turn, lead to sea ice break-up which exposes dark underlying sea water. The sea water absorbs more of the sun's energy, thus amplifying the original warming. Hence, small changes in cloud properties or coverage can lead to dramatic changes in the Arctic climate; this is where the proposed research project comes in.
                        country:
                          iso-3166-alpha3: SJM
                          name: Svalbard and Jan Mayen
                        project_duration:
                          interval: 2013-03-01/2016-10-01
                          start_interval: 2013-03-01
                          end_interval: 2016-10-01
                        access_duration:
                          interval: 2013-03-01/..
                          start_interval: 2013-03-01
                          end_interval: null
                        website: http://arp.arctic.ac.uk/projects/aerosol-cloud-coupling-and-climate-interactions-ar/
                        publications:
                          - https://doi.org/10.5194/acp-2018-283
                          - https://doi.org/10.5194/acp-15-3719-2015
                          - https://doi.org/10.5194/acp-15-5599-2015
                          - https://doi.org/10.5194/acp-16-4063-2016
                      relationships:
                        allocations:
                          data:
                            -
                              id: 01D6T4QQNDBJTSEVXESNXD3AN0
                              type: allocations
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/allocations
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/allocations
                        participants:
                          data:
                            -
                              id: 01D5T4N25RV2062NVVQKZ9NBYX
                              type: participants
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/participants
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/participants
                      links:
                        self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to current resource
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDY
  /projects/{id}/relationships/allocations:
    summary: Project allocations relationship
    description: Relationship between a Project and its Allocations
    get:
      tags:
        - projects
      summary: Returns details of how a Project resource is related to one or more Allocation resources
      operationId: get-projects-allocations-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01D5M0CFQV4M7JASW7F87SRDYB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    title: Allocation resource linkages
                    description: Related allocation resource identifers
                    items:
                      type: object
                      title: Participant resource linkage
                      description: Related allocation resource identifier
                      required:
                        - type
                        - id
                      properties:
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - allocations
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                    example:
                      -
                        id: 01D6T4QQNDBJTSEVXESNXD3AN0
                        type: allocations
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/allocations
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/allocations
  /projects/{id}/relationships/participants:
    summary: Project participants relationship
    description: Relationship between a Project and its Participants
    get:
      tags:
        - projects
      summary: Returns details of how a Project resource is related to one or more Participant resources
      operationId: get-projects-participants-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01D5M0CFQV4M7JASW7F87SRDYB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    title: Participant resource linkages
                    description: Related participant resource identifers
                    items:
                      type: object
                      title: Participant resource linkage
                      description: Related participant resource identifier
                      required:
                        - type
                        - id
                      properties:
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                    example:
                      -
                        id: 01D5T4N25RV2062NVVQKZ9NBYX
                        type: participants
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/relationships/participants
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/participants
  /projects/{id}/allocations:
    summary: Project allocations
    description: List of Allocations related to a Project
    get:
      tags:
        - projects
      summary: Returns details for all Allocation resources related to a Project resource
      operationId: get-projects-allocations
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01D5M0CFQV4M7JASW7F87SRDYB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Allocations
                      description: Represents information about the grants that fund research projects
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - allocations
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - grant
                            - project
                          properties:
                            grant:
                              type: object
                              title: Grant
                              description: Related grant
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Grant resource linkage
                                  description: Related grant resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - grants
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01D6T4QQNDBJTSEVXESNXD3AN0
                        type: allocations
                        relationships:
                          grant:
                            data:
                              -
                                id: 01D6T4HYAVK5SJFD7NWJRMBZ4Z
                                type: grant
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01D6T4QQNDBJTSEVXESNXD3AN0/relationships/grants
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01D6T4QQNDBJTSEVXESNXD3AN0/grants
                          project:
                            data:
                              -
                                id: 01D5M0CFQV4M7JASW7F87SRDYB
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01D6T4QQNDBJTSEVXESNXD3AN0/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01D6T4QQNDBJTSEVXESNXD3AN0/projects
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01D6T4QQNDBJTSEVXESNXD3AN0
                  included:
                    type: array
                    title: Included
                    description: Resources related to related resources
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/allocations
  /projects/{id}/participants:
    summary: Project participants
    description: List of Participants related to a Project
    get:
      tags:
        - projects
      summary: Returns details for all Participant resources related to a Project resource
      operationId: get-projects-participants
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01D5M0CFQV4M7JASW7F87SRDYB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Participants
                      description: Represents information about an individuals involvement in a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - role
                          properties:
                            role:
                              type: object
                              title: Role
                              description: The role a person plays or assumes in a project
                              required:
                                - class
                                - member
                              properties:
                                class:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Class
                                  description: Identifier of the namespace the role appears within
                                member:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Member
                                  description: Identifier of the role
                                title:
                                  readOnly: true
                                  type: string
                                  title: Title
                                  description: Name of the role
                                description:
                                  readOnly: true
                                  type: string
                                  title: Description
                                  description: Summary description of the role
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - project
                            - people
                          properties:
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            person:
                              type: object
                              title: Person
                              description: Related person
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Person resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - people
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01D5T4N25RV2062NVVQKZ9NBYX
                        type: participants
                        attributes:
                          role:
                            class: http://purl.org/spar/scoro/InvestigationRole
                            description: 'The principle investigator of the research project.'
                            member: http://purl.org/spar/scoro/principle-investigator
                            title: principle investigator
                        relationships:
                          project:
                            data:
                              -
                                id: 01D5M0CFQV4M7JASW7F87SRDYB
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/projects
                          people:
                            data:
                              -
                                id: 01D5MHQN3ZPH47YVSVQEVB0DAE
                                type: people
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/people
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/people
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX
                  included:
                    type: array
                    title: Included
                    description: Resources related to related resources
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01D5M0CFQV4M7JASW7F87SRDYB/participants

  /participants:
    summary: Participants list
    description: List of all Participant resources
    get:
      tags:
        - participants
      summary: Returns details for all Participant resources
      operationId: get-participants-list
      security:
        - azure-oauth: []
      parameters:
        -
          name: page
          in: query
          description: Selected pagination page
          required: false
          schema:
            type: integer
          example:
            value: 2
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Participant
                      description: Represents information about an individuals involvement in a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - role
                          properties:
                            role:
                              type: object
                              title: Role
                              description: The role a person plays or assumes in a project
                              required:
                                - class
                                - member
                              properties:
                                class:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Class
                                  description: Identifier of the namespace the role appears within
                                member:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Member
                                  description: Identifier of the role
                                title:
                                  readOnly: true
                                  type: string
                                  title: Title
                                  description: Name of the role
                                description:
                                  readOnly: true
                                  type: string
                                  title: Description
                                  description: Summary description of the role
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - project
                            - people
                          properties:
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            person:
                              type: object
                              title: Person
                              description: Related person
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Person resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - people
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01D5T4N25RV2062NVVQKZ9NBYX
                        type: participants
                        attributes:
                          role:
                            class: http://purl.org/spar/scoro/InvestigationRole
                            description: 'The principle investigator of the research project.'
                            member: http://purl.org/spar/scoro/principle-investigator
                            title: principle investigator
                        relationships:
                          project:
                            data:
                              -
                                id: 01D5M0CFQV4M7JASW7F87SRDYB
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/projects
                          people:
                            data:
                              -
                                id: 01D5MHQN3ZPH47YVSVQEVB0DAE
                                type: people
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/people
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/people
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX
                  included:
                    type: array
                    title: Included
                    description: Resources related to resource
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - first
                      - last
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Current page
                        description: URL to current page of resources
                      first:
                        readOnly: true
                        type: string
                        format: uri
                        title: First page
                        description: URL to first page of resources
                      last:
                        readOnly: true
                        type: string
                        format: uri
                        title: Last page
                        description: URL to last page of resources
                      prev:
                        readOnly: true
                        type: string
                        format: uri
                        title: Previous page
                        description: URL to previous page of resources (if applicable)
                      next:
                        readOnly: true
                        type: string
                        format: uri
                        title: Next page
                        description: URL to next page of resources (if applicable)
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=2
                      first: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=1
                      last: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=4
                      prev: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=1
                      next: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=3
  '/participants/{id}':
    summary: Participant details
    description: Details for a specific Participant resource
    get:
      tags:
        - participants
      summary: Returns details for a single Participant resource, specified by its ID
      operationId: get-participants-detail
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Participants resource
          required: true
          schema:
            type: string
          example:
            value: 01D5T4N25RV2062NVVQKZ9NBYX
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Participant
                    description: Represents information about an individuals involvement in a research project
                    required:
                      - id
                      - type
                      - links
                    properties:
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - participants
                      attributes:
                        type: object
                        title: Attributes
                        description: Additional attributes for this resource type
                        required:
                          - role
                        properties:
                          role:
                            type: object
                            title: Role
                            description: The role a person plays or assumes in a project
                            required:
                              - class
                              - member
                            properties:
                              class:
                                readOnly: true
                                type: string
                                format: uri
                                title: Class
                                description: Identifier of the namespace the role appears within
                              member:
                                readOnly: true
                                type: string
                                format: uri
                                title: Member
                                description: Identifier of the role
                              title:
                                readOnly: true
                                type: string
                                title: Title
                                description: Name of the role
                              description:
                                readOnly: true
                                type: string
                                title: Description
                                description: Summary description of the role
                      relationships:
                        type: object
                        title: Relationships
                        description: Related resources
                        required:
                          - project
                          - people
                        properties:
                          project:
                            type: object
                            title: Project
                            description: Related project
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: object
                                title: Project resource linkage
                                description: Related person resource identifer
                                required:
                                  - type
                                  - id
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    title: Type
                                    description: Type of resource
                                    enum:
                                      - project
                                  id:
                                    readOnly: true
                                    type: string
                                    title: ID
                                    description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resource
                          person:
                            type: object
                            title: Person
                            description: Related person
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: object
                                title: Person resource linkage
                                description: Related person resource identifer
                                required:
                                  - type
                                  - id
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    title: Type
                                    description: Type of resource
                                    enum:
                                      - people
                                  id:
                                    readOnly: true
                                    type: string
                                    title: ID
                                    description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resource
                      links:
                        type: object
                        title: Links
                        description: Links to additional information or actions
                        required:
                          - self
                        properties:
                          self:
                            readOnly: true
                            type: string
                            format: uri
                            title: Self
                            description: URL to resource
                    example:
                      id: 01D5T4N25RV2062NVVQKZ9NBYX
                      type: participants
                      attributes:
                        role:
                          class: http://purl.org/spar/scoro/InvestigationRole
                          description: 'The principle investigator of the research project.'
                          member: http://purl.org/spar/scoro/principle-investigator
                          title: principle investigator
                      relationships:
                        project:
                          data:
                            -
                              id: 01D5M0CFQV4M7JASW7F87SRDYB
                              type: projects
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/projects
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/projects
                        people:
                          data:
                            -
                              id: 01D5MHQN3ZPH47YVSVQEVB0DAE
                              type: people
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/people
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/people
                      links:
                        self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to current resource
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX
  /participants/{id}/relationships/projects:
    summary: Participation project relationship
    description: Relationship between a Participantion and a Project
    get:
      tags:
        - participants
      summary: Returns details of how a Participant resource is related to a Project resource
      operationId: get-participants-projects-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Participant resource
          required: true
          schema:
            type: string
          example:
            value: 01D5T4N25RV2062NVVQKZ9NBYX
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Project resource linkage
                    description: Related project resource identifier
                    required:
                      - type
                      - id
                    properties:
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - projects
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                    example:
                      id: 01D5M0CFQV4M7JASW7F87SRDYB
                      type: projects
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/projects
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/projects
  /participants/{id}/relationships/people:
    summary: Participation person relationship
    description: Relationship between a Participantion and a Person
    get:
      tags:
        - participants
      summary: Returns details of how a Participant resource is related to a Person resource
      operationId: get-participants-people-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Participant resource
          required: true
          schema:
            type: string
          example:
            value: 01D5T4N25RV2062NVVQKZ9NBYX
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Person resource linkage
                    description: Related person resource identifier
                    required:
                      - type
                      - id
                    properties:
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - people
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                    example:
                      id: 01D5MHQN3ZPH47YVSVQEVB0DAE
                      type: people
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/relationships/people
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01D5T4N25RV2062NVVQKZ9NBYX/people
  /participants/{id}/projects:
    summary: Participant project
    description: Details of the Project related to a Participant
    get:
      tags:
        - participants
      summary: Returns details for the Project resource related to a Participant resource
      operationId: get-participants-projects
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Participant resource
          required: true
          schema:
            type: string
          example:
            value: 01D5T4N25RV2062NVVQKZ9NBYX
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Project
                    description: Represents information about a research project
                    required:
                      - id
                      - type
                      - attributes
                      - relationships
                      - links
                    properties:
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - projects
                      attributes:
                        type: object
                        title: Attributes
                        description: Additional attributes for this resource type
                        required:
                          - title
                          - project-duration
                          - access-duration
                        properties:
                          acronym:
                            readOnly: true
                            type: string
                            title: Acronym
                            description: Project acronym
                          title:
                            readOnly: true
                            type: string
                            title: Title
                            description: Project title
                          abstract:
                            readOnly: true
                            type: string
                            title: Abstract
                            description: Project abstract
                          country:
                            type: object
                            title: Country
                            description: Country in which the project took place
                            required:
                              - iso-3166-alpha3-code
                              - name
                            properties:
                              iso-3166-alpha3-code:
                                readOnly: true
                                type: string
                                title: ISO 3166 Alpha 3 code
                                description: ISO 3166 three letter alphabetic country code
                              name:
                                readOnly: true
                                type: string
                                format: date
                                title: Name
[...]
