openapi: 3.0.0
info:
  version: testing
  title: NERC Arctic Office Projects API
  description: API for the NERC Arctic Office projects database
  license:
    name: Open Government Licence 3.0
    url: http://www.nationalarchives.gov.uk/doc/open-government-licence
  contact:
    name: API Support
    email: servicedesk@bas.ac.uk
  x-standards:
    json-api:
      version: 1.0
servers:
  - url: https://api.bas.ac.uk/arctic-office-projects/testing
    description: For normal use
    x-type: preferred
  - url: https://testing.api.bas.ac.uk/arctic-office-projects/testing
    description: When asked to test changes to how APIs are delivered
components:
  securitySchemes:
    azure-oauth:
      type: oauth2
      description: This API uses OAuth 2 with the client credentials grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/d14c529b-5558-4a80-93b6-7655681e55d6/oauth2/v2.0/token
          scopes: {}
tags:
  - name: projects
    description: Projects
  - name: participants
    description: Participants
  - name: people
    description: People
  - name: grants
    description: Grants
  - name: allocations
    description: Allocations
  - name: organisations
    description: Organisations
  - name: category-schemes
    description: Category Schemes
  - name: categories
    description: Categories
  - name: categorisations
    description: Categorisations
  - name: standalone
    description: Standalone methods
paths:
  /projects:
    summary: Projects list
    description: List of all Project resources
    get:
      tags:
        - projects
      summary: Returns details for all Project resources
      operationId: get-projects-list
      security:
        - azure-oauth: []
      parameters:
        -
          name: page
          in: query
          description: Selected pagination page
          required: false
          schema:
            type: integer
          example:
            value: 2
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Project
                      description: Represents information about a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - projects
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - title
                            - project-duration
                            - access-duration
                          properties:
                            acronym:
                              readOnly: true
                              type: string
                              title: Acronym
                              description: Project acronym
                            title:
                              readOnly: true
                              type: string
                              title: Title
                              description: Project title
                            abstract:
                              readOnly: true
                              type: string
                              title: Abstract
                              description: Project abstract
                            country:
                              type: object
                              title: Country
                              description: Country in which the project took place
                              required:
                                - iso-3166-alpha3-code
                                - name
                              properties:
                                iso-3166-alpha3-code:
                                  readOnly: true
                                  type: string
                                  title: ISO 3166 Alpha 3 code
                                  description: ISO 3166 three letter alphabetic country code
                                name:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Name
                                  description: country name
                            project-duration:
                              type: object
                              title: Project duration
                              description: Period of time a project was active or funded for
                              required:
                                - interval
                                - start-instant
                                - end-instant
                              properties:
                                interval:
                                  readOnly: true
                                  type: string
                                  title: Project duration interval
                                  description: Date interval covering the project duration
                                start-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Project duration start instant
                                  description: date marking the start of the project duration
                                end-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Project duration end instant
                                  description: date marking the end of the project duration
                            access-duration:
                              type: object
                              title: Access duration
                              description: Period of time information about a project is available for
                              required:
                                - interval
                                - start-instant
                                - end-instant
                              properties:
                                interval:
                                  readOnly: true
                                  type: string
                                  title: Project access interval
                                  description: Date interval covering the access duration
                                start-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Access duration start instant
                                  description: date marking the start of the access duration
                                end-instant:
                                  readOnly: true
                                  type: string
                                  format: date
                                  title: Access duration end instant
                                  description: date marking the end of the access duration
                            website:
                              readOnly: true
                              type: string
                              format: uri
                              title: Website
                              description: Project website
                            publications:
                              type: array
                              title: Publications
                              description: Project publications
                              items:
                                readOnly: true
                                type: string
                                format: uri
                                title: Publication
                                description: DOI to a project publication
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          properties:
                            allocations:
                              type: object
                              title: Allocations
                              description: Related allocations
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: array
                                  title: Allocation resource linkages
                                  description: Related allocation resource identifers
                                  items:
                                    type: object
                                    title: Allocation resource linkage
                                    description: Related allocation resource identifier
                                    required:
                                      - type
                                      - id
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        title: Type
                                        description: Type of resource
                                        enum:
                                          - allocation
                                      id:
                                        readOnly: true
                                        type: string
                                        title: ID
                                        description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resources
                            participants:
                              type: object
                              title: Participants
                              description: Related participants
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: array
                                  title: Participant resource linkages
                                  description: Related participant resource identifers
                                  items:
                                    type: object
                                    title: Participant resource linkage
                                    description: Related participant resource identifier
                                    required:
                                      - type
                                      - id
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        title: Type
                                        description: Type of resource
                                        enum:
                                          - participants
                                      id:
                                        readOnly: true
                                        type: string
                                        title: ID
                                        description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resources
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01DB2ECBP24NHYV5KZQG2N3FS2
                        type: projects
                        attributes:
                          acronym: EXPRO1
                          title: Example project 1
                          abstract: >
                            This project is used as an example, for demonstration or testing purposes. The contents of this project, and resources it relates to, will not change.

                            This example project (1) is a project with a single PI and single CoI belonging to the same organisation. It is also associated with a single grant and funder. The people, grants and organisations related to this project will not be related to another project. This project has an acronym, abstract, website and country property. The project duration is in the past.

                            The remainder of this abstract is padding text to give a realistic abstract length.

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget lorem eleifend turpis vestibulum sollicitudin. Curabitur libero nulla, maximus ut facilisis et, maximus quis dolor. Nunc ut malesuada felis. Sed volutpat et lectus vitae convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper nec ante ut vulputate. Praesent ultricies mattis dolor quis ultrices. Ut sagittis scelerisque leo fringilla malesuada. Donec euismod tincidunt purus vel commodo.

                            Aenean volutpat libero quis imperdiet tincidunt. Proin iaculis eros at turpis laoreet molestie. Quisque pellentesque, lorem id ornare fermentum, nunc urna ultrices libero, eget tempor ipsum lectus sollicitudin nibh. Sed sit amet vestibulum nulla. Vivamus dictum, dui id consectetur mattis, sapien erat tristique nulla, at lobortis enim nibh eu orci. Curabitur eu purus porttitor, rhoncus libero sed, mattis tellus. Praesent ullamcorper tincidunt ex. Vivamus lectus urna, dignissim sit amet efficitur a, malesuada at nisi

                            Curabitur auctor ut libero ac pharetra. Nunc rutrum facilisis felis, ac rhoncus lorem pulvinar quis. In felis neque, mollis nec sagittis feugiat, finibus maximus mauris. Nullam varius, risus id scelerisque tempor, justo purus malesuada nulla, eu sagittis purus arcu eget justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vel pretium augue. Pellentesque eu semper odio. Suspendisse congue varius est, et euismod justo accumsan sed. Etiam nec scelerisque risus, sed tempus ante. Proin fringilla leo urna, eget pulvinar leo placerat et.

                            Etiam mollis lacus ut sapien elementum, sed volutpat dui faucibus. Fusce ligula risus, tempor at justo ac, tincidunt finibus magna. Duis eget sapien et nibh tincidunt faucibus. Duis tempus tincidunt leo. Aenean sit amet cursus ex. Etiam eget finibus nulla, a rutrum turpis. Proin imperdiet, augue consectetur varius varius, lectus elit egestas velit, ullamcorper pulvinar dolor felis at leo. Cras nec est ut est efficitur pulvinar nec vel nisi. Nullam sed elit eu ante finibus volutpat. Nam id diam a urna rutrum dictum.

                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer accumsan et mi eu sagittis. Ut id nulla at quam efficitur molestie. Donec viverra ex vitae mauris ullamcorper elementum. Proin sed felis enim. Suspendisse potenti. Integer malesuada interdum mi, ornare semper lorem tempus condimentum. Cras sodales risus quis nibh fermentum volutpat. Sed vel tincidunt lectus.
                          country:
                            iso-3166-alpha3-code: SJM
                            name: Svalbard and Jan Mayen
                          project-duration:
                            interval: 2012-03-01/2015-10-01
                            start-instant: 2012-03-01
                            end-instant: 2015-10-01
                          access-duration:
                            interval: 2012-03-01/..
                            start-instant: 2012-03-01
                            end-instant: null
                          website: https://www.example.com
                          publications:
                            - https://doi.org/10.5555/76559541
                            - https://doi.org/10.5555/97727778
                            - https://doi.org/10.5555/79026270
                        relationships:
                          allocations:
                              data:
                                -
                                  id: 01DB2ECBP35AT5WBG092J5GDQ9
                                  type: allocations
                              links:
                                self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/allocations
                                related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/allocations
                          categorisations:
                            data:
                              -
                                id: 01DC6HYAKYAXE7MZMD08QV5JWG
                                type: categorisations
                            links:
                              related: http://localhost:9001/projects/01DB2ECBP24NHYV5KZQG2N3FS2/categorisations
                              self: http://localhost:9001/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/categorisations
                          participants:
                            data:
                              -
                                id: 01DB2ECBP3622SPB5PS3J8W4XF
                                type: participants
                              -
                                id: 01DB2ECBP3VQGDYMW1CRPJ0VGP
                                type: participants
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/participants
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/participants
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2
                  included:
                    type: array
                    title: Included
                    description: Resources related to resource
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - first
                      - last
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Current page
                        description: URL to current page of resources
                      first:
                        readOnly: true
                        type: string
                        format: uri
                        title: First page
                        description: URL to first page of resources
                      last:
                        readOnly: true
                        type: string
                        format: uri
                        title: Last page
                        description: URL to last page of resources
                      prev:
                        readOnly: true
                        type: string
                        format: uri
                        title: Previous page
                        description: URL to previous page of resources (if applicable)
                      next:
                        readOnly: true
                        type: string
                        format: uri
                        title: Next page
                        description: URL to next page of resources (if applicable)
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=2
                      first: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=1
                      last: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=4
                      prev: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=1
                      next: https://api.bas.ac.uk/arctic-office-projects/testing/projects?page=3
  /projects/{id}:
    summary: Project details
    description: Details for a specific Project resource
    get:
      tags:
        - projects
      summary: Returns details for a single Project resource, specified by its ID
      operationId: get-projects-detail
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    title: Project
                    description: Represents information about a research project
                    required:
                      - id
                      - type
                      - attributes
                      - relationships
                      - links
                    properties:
                      id:
                        readOnly: true
                        type: string
                        title: ID
                        description: Resource identifier
                      type:
                        readOnly: true
                        type: string
                        title: Type
                        description: Type of resource
                        enum:
                          - projects
                      attributes:
                        type: object
                        title: Attributes
                        description: Additional attributes for this resource type
                        required:
                          - title
                          - project-duration
                          - access-duration
                        properties:
                          acronym:
                            readOnly: true
                            type: string
                            title: Acronym
                            description: Project acronym
                          title:
                            readOnly: true
                            type: string
                            title: Title
                            description: Project title
                          abstract:
                            readOnly: true
                            type: string
                            title: Abstract
                            description: Project abstract
                          country:
                            type: object
                            title: Country
                            description: Country in which the project took place
                            required:
                              - iso-3166-alpha3-code
                              - name
                            properties:
                              iso-3166-alpha3-code:
                                readOnly: true
                                type: string
                                title: ISO 3166 Alpha 3 code
                                description: ISO 3166 three letter alphabetic country code
                              name:
                                readOnly: true
                                type: string
                                format: date
                                title: Name
                                description: country name
                          project-duration:
                            type: object
                            title: Project duration
                            description: Period of time a project was active or funded for
                            required:
                              - interval
                              - start-instant
                              - end-instant
                            properties:
                              interval:
                                readOnly: true
                                type: string
                                title: Project duration interval
                                description: Date interval covering the project duration
                              start-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Project duration start instant
                                description: date marking the start of the project duration
                              end-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Project duration end instant
                                description: date marking the end of the project duration
                          access-duration:
                            type: object
                            title: Access duration
                            description: Period of time information about a project is available for
                            required:
                              - interval
                              - start-instant
                              - end-instant
                            properties:
                              interval:
                                readOnly: true
                                type: string
                                title: Project access interval
                                description: Date interval covering the access duration
                              start-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Access duration start instant
                                description: date marking the start of the access duration
                              end-instant:
                                readOnly: true
                                type: string
                                format: date
                                title: Access duration end instant
                                description: date marking the end of the access duration
                          website:
                            readOnly: true
                            type: string
                            format: uri
                            title: Website
                            description: Project website
                          publications:
                            type: array
                            title: Publications
                            description: Project publications
                            items:
                              readOnly: true
                              type: string
                              format: uri
                              title: Publication
                              description: DOI to a project publication
                      relationships:
                        type: object
                        title: Relationships
                        description: Related resources
                        properties:
                          allocations:
                            type: object
                            title: Allocations
                            description: Related allocations
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: array
                                title: Allocation resource linkages
                                description: Related allocation resource identifers
                                items:
                                  type: object
                                  title: Allocation resource linkage
                                  description: Related allocation resource identifier
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - allocation
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resources
                          participants:
                            type: object
                            title: Participants
                            description: Related participants
                            required:
                              - data
                              - links
                            properties:
                              data:
                                type: array
                                title: Participant resource linkages
                                description: Related participant resource identifers
                                items:
                                  type: object
                                  title: Participant resource linkage
                                  description: Related participant resource identifier
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - participants
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                              links:
                                type: object
                                title: Links
                                description: Links to additional information or actions
                                required:
                                  - self
                                properties:
                                  self:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Self
                                    description: URL to relationship
                                  related:
                                    readOnly: true
                                    type: string
                                    format: uri
                                    title: Related
                                    description: URL to related resources
                      links:
                        type: object
                        title: Links
                        description: Links to additional information or actions
                        required:
                          - self
                        properties:
                          self:
                            readOnly: true
                            type: string
                            format: uri
                            title: Self
                            description: URL to full resource
                    example:
                      id: 01DB2ECBP24NHYV5KZQG2N3FS2
                      type: projects
                      attributes:
                        acronym: EXPRO1
                        title: Example project 1
                        abstract: >
                          This project is used as an example, for demonstration or testing purposes. The contents of this project, and resources it relates to, will not change.

                          This example project (1) is a project with a single PI and single CoI belonging to the same organisation. It is also associated with a single grant and funder. The people, grants and organisations related to this project will not be related to another project. This project has an acronym, abstract, website and country property. The project duration is in the past.

                          The remainder of this abstract is padding text to give a realistic abstract length.

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget lorem eleifend turpis vestibulum sollicitudin. Curabitur libero nulla, maximus ut facilisis et, maximus quis dolor. Nunc ut malesuada felis. Sed volutpat et lectus vitae convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper nec ante ut vulputate. Praesent ultricies mattis dolor quis ultrices. Ut sagittis scelerisque leo fringilla malesuada. Donec euismod tincidunt purus vel commodo.

                          Aenean volutpat libero quis imperdiet tincidunt. Proin iaculis eros at turpis laoreet molestie. Quisque pellentesque, lorem id ornare fermentum, nunc urna ultrices libero, eget tempor ipsum lectus sollicitudin nibh. Sed sit amet vestibulum nulla. Vivamus dictum, dui id consectetur mattis, sapien erat tristique nulla, at lobortis enim nibh eu orci. Curabitur eu purus porttitor, rhoncus libero sed, mattis tellus. Praesent ullamcorper tincidunt ex. Vivamus lectus urna, dignissim sit amet efficitur a, malesuada at nisi

                          Curabitur auctor ut libero ac pharetra. Nunc rutrum facilisis felis, ac rhoncus lorem pulvinar quis. In felis neque, mollis nec sagittis feugiat, finibus maximus mauris. Nullam varius, risus id scelerisque tempor, justo purus malesuada nulla, eu sagittis purus arcu eget justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vel pretium augue. Pellentesque eu semper odio. Suspendisse congue varius est, et euismod justo accumsan sed. Etiam nec scelerisque risus, sed tempus ante. Proin fringilla leo urna, eget pulvinar leo placerat et.

                          Etiam mollis lacus ut sapien elementum, sed volutpat dui faucibus. Fusce ligula risus, tempor at justo ac, tincidunt finibus magna. Duis eget sapien et nibh tincidunt faucibus. Duis tempus tincidunt leo. Aenean sit amet cursus ex. Etiam eget finibus nulla, a rutrum turpis. Proin imperdiet, augue consectetur varius varius, lectus elit egestas velit, ullamcorper pulvinar dolor felis at leo. Cras nec est ut est efficitur pulvinar nec vel nisi. Nullam sed elit eu ante finibus volutpat. Nam id diam a urna rutrum dictum.

                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer accumsan et mi eu sagittis. Ut id nulla at quam efficitur molestie. Donec viverra ex vitae mauris ullamcorper elementum. Proin sed felis enim. Suspendisse potenti. Integer malesuada interdum mi, ornare semper lorem tempus condimentum. Cras sodales risus quis nibh fermentum volutpat. Sed vel tincidunt lectus.
                        country:
                          iso-3166-alpha3-code: SJM
                          name: Svalbard and Jan Mayen
                        project-duration:
                          interval: 2012-03-01/2015-10-01
                          start-instant: 2012-03-01
                          end-instant: 2015-10-01
                        access-duration:
                          interval: 2012-03-01/..
                          start-instant: 2012-03-01
                          end-instant: null
                        website: https://www.example.com
                        publications:
                          - https://doi.org/10.5555/76559541
                          - https://doi.org/10.5555/97727778
                          - https://doi.org/10.5555/79026270
                      relationships:
                        allocations:
                          data:
                            -
                              id: 01DB2ECBP35AT5WBG092J5GDQ9
                              type: allocations
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/allocations
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/allocations
                        categorisations:
                          data:
                            - id: 01DC6HYAKYAXE7MZMD08QV5JWG
                              type: categorisations
                          links:
                            related: http://localhost:9001/projects/01DB2ECBP24NHYV5KZQG2N3FS2/categorisations
                            self: http://localhost:9001/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/categorisations
                        participants:
                          data:
                            -
                              id: 01DB2ECBP3622SPB5PS3J8W4XF
                              type: participants
                            -
                              id: 01DB2ECBP3VQGDYMW1CRPJ0VGP
                              type: participants
                          links:
                            self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/participants
                            related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/participants
                      links:
                        self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to current resource
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2
  /projects/{id}/relationships/allocations:
    summary: Project allocations relationship
    description: Relationship between a Project and its Allocations
    get:
      tags:
        - projects
      summary: Returns details of how a Project resource is related to one or more Allocation resources
      operationId: get-projects-allocations-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    title: Allocation resource linkages
                    description: Related allocation resource identifers
                    items:
                      type: object
                      title: Allocation resource linkage
                      description: Related allocation resource identifier
                      required:
                        - type
                        - id
                      properties:
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - allocations
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                    example:
                      -
                        id: 01DB2ECBP35AT5WBG092J5GDQ9
                        type: allocations
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/allocations
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/allocations
  /projects/{id}/relationships/categorisations:
    summary: Project categorisations relationship
    description: Relationship between a Project and its Categorisations
    get:
      tags:
        - projects
      summary: Returns details of how a Project resource is related to one or more Categorisation resources
      operationId: get-projects-categorisations-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    title: Categorisation resource linkages
                    description: Related categorisation resource identifers
                    items:
                      type: object
                      title: Categorisation resource linkage
                      description: Related categorisation resource identifier
                      required:
                        - type
                        - id
                      properties:
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - categorisations
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                    example:
                      - id: 01DC6HYAKYAXE7MZMD08QV5JWG
                        type: categorisations
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/categorisations
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/categorisations
  /projects/{id}/relationships/participants:
    summary: Project participants relationship
    description: Relationship between a Project and its Participants
    get:
      tags:
        - projects
      summary: Returns details of how a Project resource is related to one or more Participant resources
      operationId: get-projects-participants-relationship
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    title: Participant resource linkages
                    description: Related participant resource identifers
                    items:
                      type: object
                      title: Participant resource linkage
                      description: Related participant resource identifier
                      required:
                        - type
                        - id
                      properties:
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                    example:
                      -
                        id: 01DB2ECBP3622SPB5PS3J8W4XF
                        type: participants
                      - id: 01DB2ECBP3VQGDYMW1CRPJ0VGP
                        type: participants
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - related
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to relationship
                      related:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/relationships/participants
                      related: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/participants
  /projects/{id}/allocations:
    summary: Project allocations
    description: List of Allocations related to a Project
    get:
      tags:
        - projects
      summary: Returns details for all Allocation resources related to a Project resource
      operationId: get-projects-allocations
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Allocations
                      description: Represents information about the grants that fund research projects
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - allocations
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - grant
                            - project
                          properties:
                            grant:
                              type: object
                              title: Grant
                              description: Related grant
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Grant resource linkage
                                  description: Related grant resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - grants
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01DB2ECBP35AT5WBG092J5GDQ9
                        type: allocations
                        relationships:
                          grant:
                            data:
                              -
                                id: 01DB2ECBP3XQ4B8Z5DW7W963YD
                                type: grant
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01DB2ECBP35AT5WBG092J5GDQ9/relationships/grants
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01DB2ECBP35AT5WBG092J5GDQ9/grants
                          project:
                            data:
                              -
                                id: 01DB2ECBP24NHYV5KZQG2N3FS2
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01DB2ECBP35AT5WBG092J5GDQ9/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01DB2ECBP35AT5WBG092J5GDQ9/projects
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/allocations/01DB2ECBP35AT5WBG092J5GDQ9
                  included:
                    type: array
                    title: Included
                    description: Resources related to related resources
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/allocations
  /projects/{id}/categorisations:
    summary: Project categorisations
    description: List of Categorisations related to a Project
    get:
      tags:
        - projects
      summary: Returns details for all Categorisation resources related to a Project resource
      operationId: get-projects-categorisations
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Categorisations
                      description: Represents information about how a research project is categorised
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - categorisations
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - project
                            - category
                          properties:
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            category:
                              type: object
                              title: Category
                              description: Related category
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Category resource linkage
                                  description: Related category resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - categories
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      - id: 01DC6HYAKYAXE7MZMD08QV5JWG
                        type: categorisations
                        relationships:
                          project:
                            data:
                              - id: 01DB2ECBP24NHYV5KZQG2N3FS2
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/categorisations/01DC6HYAKYAXE7MZMD08QV5JWG/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/categorisations/01DC6HYAKYAXE7MZMD08QV5JWG/projects
                          categories:
                            data:
                              - id: 01DC6HYAKX53S13HCN2SBN4333
                                type: categories
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/categorisations/01DC6HYAKYAXE7MZMD08QV5JWG/relationships/categories
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/categorisations/01DC6HYAKYAXE7MZMD08QV5JWG/categories
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/categorisations/01DC6HYAKYAXE7MZMD08QV5JWG
                  included:
                    type: array
                    title: Included
                    description: Resources related to related resources
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/categorisations
  /projects/{id}/participants:
    summary: Project participants
    description: List of Participants related to a Project
    get:
      tags:
        - projects
      summary: Returns details for all Participant resources related to a Project resource
      operationId: get-projects-participants
      security:
        - azure-oauth: []
      parameters:
        - in: path
          name: id
          description: ID of a Project resource
          required: true
          schema:
            type: string
          example:
            value: 01DB2ECBP24NHYV5KZQG2N3FS2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Participants
                      description: Represents information about an individuals involvement in a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - role
                          properties:
                            role:
                              type: object
                              title: Role
                              description: The role a person plays or assumes in a project
                              required:
                                - class
                                - member
                              properties:
                                class:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Class
                                  description: Identifier of the namespace the role appears within
                                member:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Member
                                  description: Identifier of the role
                                title:
                                  readOnly: true
                                  type: string
                                  title: Title
                                  description: Name of the role
                                description:
                                  readOnly: true
                                  type: string
                                  title: Description
                                  description: Summary description of the role
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - project
                            - people
                          properties:
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            person:
                              type: object
                              title: Person
                              description: Related person
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Person resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - people
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01DB2ECBP3622SPB5PS3J8W4XF
                        type: participants
                        attributes:
                          role:
                            class: http://purl.org/spar/scoro/InvestigationRole
                            description: 'The principle investigator of the research project.'
                            member: http://purl.org/spar/scoro/principle-investigator
                            title: principle investigator
                        relationships:
                          project:
                            data:
                              -
                                id: 01DB2ECBP24NHYV5KZQG2N3FS2
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/projects
                          people:
                            data:
                              -
                                id: 01DB2ECBP2MFB0DH3EF3PH74R0
                                type: people
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/relationships/people
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/people
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF
                      -
                        id: 01DB2ECBP3VQGDYMW1CRPJ0VGP
                        type: participants
                        attributes:
                          role:
                            class: http://purl.org/spar/scoro/InvestigationRole
                            description: 'A co-investigator of the research project.'
                            member: http://purl.org/spar/scoro/co-investigator
                            title: co-investigator
                        relationships:
                          project:
                            data:
                              - id: 01DB2ECBP24NHYV5KZQG2N3FS2
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3VQGDYMW1CRPJ0VGP/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3VQGDYMW1CRPJ0VGP/projects
                          people:
                            data:
                              - id: 01DB2ECBP25PVTVVGT9YT7CKSB
                                type: people
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3VQGDYMW1CRPJ0VGP/relationships/people
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3VQGDYMW1CRPJ0VGP/people
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3VQGDYMW1CRPJ0VGP
                  included:
                    type: array
                    title: Included
                    description: Resources related to related resources
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Self
                        description: URL to related resources
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/projects/01DB2ECBP24NHYV5KZQG2N3FS2/participants

  /participants:
    summary: Participants list
    description: List of all Participant resources
    get:
      tags:
        - participants
      summary: Returns details for all Participant resources
      operationId: get-participants-list
      security:
        - azure-oauth: []
      parameters:
        -
          name: page
          in: query
          description: Selected pagination page
          required: false
          schema:
            type: integer
          example:
            value: 2
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Participant
                      description: Represents information about an individuals involvement in a research project
                      required:
                        - id
                        - type
                        - links
                      properties:
                        id:
                          readOnly: true
                          type: string
                          title: ID
                          description: Resource identifier
                        type:
                          readOnly: true
                          type: string
                          title: Type
                          description: Type of resource
                          enum:
                            - participants
                        attributes:
                          type: object
                          title: Attributes
                          description: Additional attributes for this resource type
                          required:
                            - role
                          properties:
                            role:
                              type: object
                              title: Role
                              description: The role a person plays or assumes in a project
                              required:
                                - class
                                - member
                              properties:
                                class:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Class
                                  description: Identifier of the namespace the role appears within
                                member:
                                  readOnly: true
                                  type: string
                                  format: uri
                                  title: Member
                                  description: Identifier of the role
                                title:
                                  readOnly: true
                                  type: string
                                  title: Title
                                  description: Name of the role
                                description:
                                  readOnly: true
                                  type: string
                                  title: Description
                                  description: Summary description of the role
                        relationships:
                          type: object
                          title: Relationships
                          description: Related resources
                          required:
                            - project
                            - people
                          properties:
                            project:
                              type: object
                              title: Project
                              description: Related project
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Project resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - project
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                            person:
                              type: object
                              title: Person
                              description: Related person
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  title: Person resource linkage
                                  description: Related person resource identifer
                                  required:
                                    - type
                                    - id
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      title: Type
                                      description: Type of resource
                                      enum:
                                        - people
                                    id:
                                      readOnly: true
                                      type: string
                                      title: ID
                                      description: Resource identifier
                                links:
                                  type: object
                                  title: Links
                                  description: Links to additional information or actions
                                  required:
                                    - self
                                  properties:
                                    self:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Self
                                      description: URL to relationship
                                    related:
                                      readOnly: true
                                      type: string
                                      format: uri
                                      title: Related
                                      description: URL to related resource
                        links:
                          type: object
                          title: Links
                          description: Links to additional information or actions
                          required:
                            - self
                          properties:
                            self:
                              readOnly: true
                              type: string
                              format: uri
                              title: Self
                              description: URL to resource
                    example:
                      -
                        id: 01DB2ECBP3622SPB5PS3J8W4XF
                        type: participants
                        attributes:
                          role:
                            class: http://purl.org/spar/scoro/InvestigationRole
                            description: 'The principle investigator of the research project.'
                            member: http://purl.org/spar/scoro/principle-investigator
                            title: principle investigator
                        relationships:
                          project:
                            data:
                              -
                                id: 01DB2ECBP24NHYV5KZQG2N3FS2
                                type: projects
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/relationships/projects
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/projects
                          people:
                            data:
                              -
                                id: 01DB2ECBP2MFB0DH3EF3PH74R0
                                type: people
                            links:
                              self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/relationships/people
                              related: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF/people
                        links:
                          self: https://api.bas.ac.uk/arctic-office-projects/testing/participants/01DB2ECBP3622SPB5PS3J8W4XF
                  included:
                    type: array
                    title: Included
                    description: Resources related to resource
                    items:
                      type: object
                  links:
                    type: object
                    title: Links
                    description: Links to additional information or actions
                    required:
                      - self
                      - first
                      - last
                    properties:
                      self:
                        readOnly: true
                        type: string
                        format: uri
                        title: Current page
                        description: URL to current page of resources
                      first:
                        readOnly: true
                        type: string
                        format: uri
                        title: First page
                        description: URL to first page of resources
                      last:
                        readOnly: true
                        type: string
                        format: uri
                        title: Last page
                        description: URL to last page of resources
                      prev:
                        readOnly: true
                        type: string
                        format: uri
                        title: Previous page
                        description: URL to previous page of resources (if applicable)
                      next:
                        readOnly: true
                        type: string
                        format: uri
                        title: Next page
                        description: URL to next page of resources (if applicable)
                    example:
                      self: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=2
                      first: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=1
                      last: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=4
                      prev: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=1
                      next: https://api.bas.ac.uk/arctic-office-projects/testing/participants?page=3
  /participants/{id}:
    summary: Participant details
    description: Details for a specific Participant resource
    get:
      tags:
        - participants
      summary: Returns details for a single Participant resource, specified by its ID
      operationId: get-participants-detail
      security:
        - azure-oauth: []
      parameters:
        - in: path
[...]
