authlib==0.11
bandit==1.6.0
Faker==1.0.7
flake8==3.7.7
Flask==1.0.3
flask-azure-oauth==0.3.0
flask-migrate==2.5.2
flask-request-id-header==0.1.1
flask-reverse-proxy-fix==0.2.1
flask-sqlalchemy==2.4.0
iso3166==1.0
jsonschema==3.0.1
marshmallow-jsonapi==0.21.1
psycopg2-binary==2.8.2
python-dotenv==0.10.2
requests==2.22.0
rfc3987==1.3.8
sentry-sdk[flask]==0.8.0
simplejson==3.16.0
SQLAlchemy-Utils==0.34.0
str2bool==1.1
waitress==1.4.1
ulid-py==0.0.9
unittest-xml-reporting==2.5.1
urllib3==1.25.3
